@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
html {
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  height: -webkit-fill-available;
}

/*--pc > 641px--　　簡易ブレイクポイントクラス*/
@media screen and (min-width: 769px) {
  .pc {
    display: block;
  }
  .pcImg {
    display: inline-block;
  }
  .sp {
    display: none;
  }
  .spImg {
    display: none;
  }
}
/*--sp < 640px　簡易ブレイクポイントクラス--*/
@media screen and (max-width: 768px) {
  .sp {
    display: block;
  }
  .spImg {
    display: inline-block;
  }
  .pc {
    display: none;
  }
  .pcImg {
    display: none;
  }
}
.ov {
  transition: opacity 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}
.ov:hover {
  opacity: 0.75;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
  /* スクロールバーがなくなってがたつくのを防ぐ */
  scrollbar-gutter: stable;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

main {
  font-feature-settings: "palt";
}

header {
  width: 360px;
  height: 60px;
  position: fixed;
  top: 20px;
  right: 20px;
  border: solid 1px #000;
  border-radius: 10px;
  box-shadow: #000 1px 1px;
  z-index: 999;
  background-color: #f7f2ea;
  -webkit-clip-path: inset(-1% -1px -1px 0);
          clip-path: inset(-1% -1px -1px 0);
  transition: 0.2s;
  /*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
}
header .active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
header .displayNone {
  display: none;
}
header #SnavMusk {
  position: fixed; /*ボタン内側の基点となるためrelativeを指定*/
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  transform: scale(1);
  border-radius: 10px;
  z-index: 1000;
}
header .navScl {
  transform-origin: center !important;
  transform: scale(0.4) !important;
}
header .small_nav {
  position: fixed; /*ボタン内側の基点となるためrelativeを指定*/
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  /*ボタン内側*/
}
header .small_nav span {
  display: inline-block;
  transition: all 0.3s; /*アニメーションの設定*/
  position: absolute;
  top: 50%;
  margin-top: 7px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  border-radius: 2px;
  background: #000;
  width: 45%;
  cursor: pointer;
}
header .small_nav span:nth-child(1) {
  top: 15px;
}
header .small_nav span:nth-child(2) {
  top: 23px;
}
header .small_nav span:nth-child(3) {
  top: 31px;
}
header .navactive {
  /*activeクラスが付与されると線が回転して×に*/
}
header .navactive span {
  z-index: 1001;
}
header .navactive span:nth-child(1) {
  top: 16px;
  left: 15px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
}
header .navactive span:nth-child(2) {
  opacity: 0; /*真ん中の線は透過*/
}
header .navactive span:nth-child(3) {
  top: 28px;
  left: 15px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
}

.headerSmall {
  transition: 0.2s;
  width: 60px;
}
.headerSmall .nav_box {
  transition: 0.5s;
  display: none;
  width: 0;
  opacity: 0;
}
.headerSmall .nav_box ul {
  transition: 0.5s;
  display: none;
  width: 0;
  opacity: 0;
}
.headerSmall .nav_box ul li {
  transition: 0.5s;
  display: none;
  width: 0;
  opacity: 0;
  transition: 0.3s;
}

.headerMid {
  transition: 0.2s;
  opacity: 100;
  justify-content: space-between;
}

.headerWide {
  width: 20%;
  position: fixed;
  z-index: 999;
  height: 500px;
}
.headerWide .nav_box {
  width: 320px;
  transition: 0.3s;
  display: block;
  opacity: 100;
}
.headerWide .nav_box ul {
  display: block;
  opacity: 100;
  flex-direction: column;
  padding: 0 10px;
}
.headerWide .nav_box ul li {
  display: block;
  opacity: 100;
  margin: 60px 0 0 0;
}
.headerWide .nav_box ul li:first-child {
  margin-top: 60px;
}
@media screen and (max-width: 730px) {
  .headerWide {
    width: 79%;
  }
}

.nav_box {
  opacity: 100;
  width: 360px;
  display: block;
}
.nav_box ul {
  position: relative;
  margin: 30px;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.nav_box ul li {
  opacity: 100;
  position: relative;
  font-size: 16px;
  bottom: 10px;
  display: block;
}
.nav_box ul li:hover {
  transition: 0.1s;
  opacity: 0.5;
}

.atv_nav_width {
  display: flex;
}

.navActive {
  display: block;
}
.navActive .nav_box {
  display: none;
}
.navActive ul {
  flex-direction: column;
}
.navActive ul li {
  border-bottom: solid 1px #000;
}

footer {
  background: #000;
}

.scroll_btn {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #fff;
  border: 1px solid #000;
  box-shadow: 1px 1px #000;
  border-radius: 50%;
}
.scroll_btn p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.upmove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.downmove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}
.None {
  display: none;
}

.Block {
  display: block;
}

.txtRed {
  color: rgb(202, 54, 86);
}

.txtBlue {
  color: rgb(1, 117, 146);
}/*# sourceMappingURL=common.css.map */