@charset "utf-8";
@import "common";
//@import "mixin";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");

.main {
    color: #000;
}

main {
    width: 100%;
    height: auto;
    background-color: $bgcolor;
    font-feature-settings: "palt";
}

.container {
    height: 2500vh;
}
.fv_area {
<<<<<<< HEAD
    height: 710px;

    .mv_box {
        position: relative;
        top: 50%;
=======
    height: 500px;

    .mv_box {
        width: 60%;
        position: relative;
        top: 60%;
>>>>>>> 7a5b2bc (0704)
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
            margin: 0 auto;
            font-family: "Lilita One", cursive;
            font-size: 6rem;
            font-weight: bold;
            line-height: 0.8em;
            
        }
    }
}

.contents_area {
    width: 100%;

    .sec01 {
        margin: 100px auto 250px;

        .txt_box {
            text-align: center;
            p {
                font-size: 20px;
                line-height: 1.8em;
            }
        }
    }
    .sec {
    border-top: solid 1px #000;
    }
    .txt_box {
        width: 900px;
        margin: 0 auto;
        padding: 0 2%;
        h2 {
            margin-bottom: 1em;
            font-size: 2rem;
            font-weight: bold;
        }
>>>>>>> 7a5b2bc (0704)
        h3 {
            font-size: 2.3rem;
            font-weight: bold;
            &::before{
                content: "";
                display: inline-block;
                width: 0.5em;
                height: 1em;
                background: #000;
                border-radius: 2px;
                margin-right: 0.3em;
                margin-bottom: -0.1em;
            }
        }
        p {
            margin: 12px 2rem 50px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5em;
        }
<<<<<<< HEAD
        .txt_box {
            // text-align: center;
=======
        .read {
            font-size: 1.8rem;
            font-weight: bold;
>>>>>>> 7a5b2bc (0704)
        }

        .codes {
            width: 60%;
            height: 100%;
            // background: $codebg;
            border-radius: 5px;
            // margin: 0;

            .code {
                // margin: 0;
                padding: 0 5rem 0.5rem;
                font-size: 1.5rem;
                background: $codebg;
                border-radius: 0 0 5px 5px;
            }
            .codeInfo {
                width: 100%;
                display: flex;
                position: relative;
                background: $codebg;
<<<<<<< HEAD
=======
                border-radius: 5px 10px 0 0;
>>>>>>> 7a5b2bc (0704)
                .langBox {
                    width: auto;
                    height: 2em;
                    margin: 0;
                    padding: 0.5rem 0.5rem;
                    background: #050505;
                    border-radius: 5px 0 2px 0;
                .lang {
                    i {
                        margin-right: 3px;
                    }
                    
                        color: #fff;
                    }
                }

                .txtCopyBox {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #fff;
<<<<<<< HEAD
=======
                    border-radius: 0 5px 0 2px; 
>>>>>>> 7a5b2bc (0704)
                    .txtCopy {
                        width: 6rem;
                        height: 1.3rem;
                        cursor: pointer;
                        display: flex;
                        margin: 3px;
                        
                        p {
                        width: 5.5rem;
                            font-size: 1rem;
                            margin-top: -4px;
                            margin: -4px 0.5rem -0.1rem;
                            font-weight: bold;
                            &:nth-child(2) {
                                display: none;
                            }
                        }

                        i {
                            margin-bottom: 3px;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
<<<<<<< HEAD
=======
            
>>>>>>> 7a5b2bc (0704)
        }
    }
.menuTab {
        .menuo {
<<<<<<< HEAD
            width: 60%;
            margin: 200px auto;
=======
            width: 50%;
            margin: 100px auto 200px;
>>>>>>> 7a5b2bc (0704)
            .menuT {
                ul {
                    padding: 0 0 1rem;
                    display: flex;
                    &:first-child {
                        border-bottom: 1px solid #000;
                    }
                    &:last-child {
                        height: 0;
                        padding: 0;
                    }
                    li {
<<<<<<< HEAD
                        padding: 0 2rem;
=======
                        padding: 0; /* ←左右paddingを0に */
>>>>>>> 7a5b2bc (0704)
                        font-size: 20px;
                        font-weight: bold;
                        color: #707070a4;
                        

                        a {
                            cursor: pointer;
<<<<<<< HEAD
=======
                            padding: 0 2rem; /* 必要ならここで調整 */
                            display: inline-block;
                            position: relative;
>>>>>>> 7a5b2bc (0704)
                        }
                    }
                    .active {
                        position: relative;
                        display: block;
                        color: #000;
                        @keyframes tabAct {
                            0% {
                                transform: translateX();
                            }
                            100% {
                                opacity: 1;
                            }
                        }
                    }
                    .dotTabFirst {
                        margin-top: 6px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        pointer-events: none;
                        .animeActive {
                            width: 0.35em;
                            height: 0.22em;
                            border-radius: 380px 380px 0 0;
                            background: #000;
                            transition: 0.2s;
                        }
                    }
                    .dotTab {
                        margin-top: 6px;
                        position: absolute;
                        left: -0.3rem;
                        display: none;
                        pointer-events: none;
                        .animeActive {
                            //=dot
                            width: 0.33em;
                            height: 0.22em;
                            margin: 0 auto;
                            border-radius: 380px 380px 0 0;
                            background: #000;
                            transition: 0.1s;
                        }
                    }
                }

                @keyframes tabAct {
                    0% {
                        transform: translateX();
                    }
                    100% {
                        opacity: 1;
                    }
                }

                .menuText {
                    .menup {
                        display: none;
                        justify-content: space-between;
                        a {
                            width: calc(100% / 4 - 10px);
                            text-align: center;
                            display: block;
                            margin: 1.3em ;
                            font-size: 16px;
                        border-right: 1px solid #000; &:last-child {
                                border-right: none;
                            }
                            img {
                                display: block;
                            }
                        }
                    }
                    .active {
                        transition: transform 1s;
                        transition: 0.2s;
                        animation: fadeIn 0.3s ease-in;
                        display: flex;
                    }
                    @keyframes tabAnimetion {
                        0% {
                            transition: 0.2s;
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}


.sample_area {

    padding-bottom: 55px;
    display: flex;
    gap: 50px;
}
.sample_box {
    width: calc(100% / 2);
    height: 100%;
    padding: 5%;
    background: #fff;
    border-radius: 5px;
    .artboard {
        width: 80%;
        height: 80%;
        margin: auto;
        text-align: center;
        .square {
            width: 50px;
            height: 50px;
            background-color: #e65555;
        } 
    }
    
}
.s02 {
    text-align: center;
<<<<<<< HEAD
=======
}

.sec {
    margin-bottom: 50px;
    
}
#codesumple {
    border-radius: 5px;
    font-size: 1.5rem;
}